extends  layout 
append head
	link(rel="stylesheet", href="/assets/css/cfg.css")

block content
	.main-content
		.leftPanel
			.visualize-viewer
				#cfg-editor.resize-box
					#cfg-raw.resize-box2 
						textarea.cfg
					#left-divider.divider-x
					#cfg-sim.resize-box2
						textarea.cfg
		.divider-y
		.rightPanel
			.visualize-viewer
				.resize-box
					#cfg-right.resize-box2 
						textarea.cfg
					#right-divider.divider-x
					.resize-box2
						textarea.cfg
block script
	script(src='https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
	script(type='text/javascript' src='/js/cfg_view.js')