extends  layout 
append head
	link(rel="stylesheet", href="/assets/css/cfg.css")

block content
	.control-bar
		.toolbar
			.toolbar-inner--left 
				button#run.toolbar-button(title="Run")
					i.fas.fa-hammer.fa-lg
				.toolbar-bar__spacer
				button.toolbar-button(title="Clear")
					i.fa.fa-times.fa-2x
				.toolbar-bar__spacer
				button.toolbar-button(title="Refresh")
					i.fas.fa-sync.fa-lg
				.toolbar-bar__spacer
			.toolbar-inner--right
				.toolbar__spinner
				.toolbar__title Context Free Grammar
				.toolbar__spinner

	.main-content
		.leftPanel
			.visualize-viewer
				#cfg-editor.resize-box
					#cfg-raw.resize-box2 
						textarea#cfg-input.cfg(spellcheck=false placeholder="Type the grammar here...")
					#left-divider.divider-x
					#cfg-sim.resize-box2
						.cfg 
							p
								button#randomString.btn
									| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Random String
								button#accepableString.btn
									| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Accepable String
								button#unaccepableString.btn
									| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Unaccepable String
							input#inputstring(spellcheck=false)
		.rightPanel
			.visualize-viewer
				.resize-box
					#cfg-right.resize-box2 
						.cfg
					//#right-divider.divider-x
					.resize-box2
						.cfg
block script
	script(type='text/javascript' src='/lib/ace/ace.js')
	script(type='text/javascript' src='/js/cfg_view.js')