extends layout
append head
	link(rel="stylesheet", href="/assets/css/truth.css")

block content
	#particles.main-content
		.truth-content
			h1.intro Truth Table Generator
			h2.intro-content
				| A generator for logical expressions that automatically generates and displays a truth table for the given statement.
			.editor
				textarea.premises(placeholder='Type logic statement here' onpaste='dosanitize(this)')
				.conclusion
					h2 Truth Table Display
				button.generate
					i.fas.fa-hammer

block script
	script(type='text/javascript' src='/js/truth_view.js')
	script(type='text/javascript' src='/lib/particles.min.js')
	script(type='text/javascript' src='/js/partical.js')
					

