* {
    box-sizing: border-box;
}

.main-content {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-width: 0;
    min-height: 0;
    color: #bbb;
}

.control-bar {
    position: relative;
    width: 100%;
    height: 44px;
    flex: none;
    overflow: hidden;
    background-color: #2c2c2c;
}

.toolbar {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 4px;
    overflow: hidden;
}

.toolbar-inner--left {
    display: block;
    margin-left: 15px;
}

.toolbar-inner--right {
    float: right;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.toolbar__spinner {
    width: 24px;
    margin: 8px 0 0 8px;
}

.toolbar__title {
    display: inline-block;
    font-size: 20px;
    font-family: Helvetica;
    color: #b9b9b9;
    background-color: transparent;
    width: auto;
    white-space: pre-wrap;
    align-items: center;
    margin-top: 5px;
}

.toolbar-button {
    float: left;
    color: #b9b9b9;
    width: 34px;
    padding: 0 7px;
    transition: opacity .25s;
    border-radius: 5px;
    border: none;
    outline: none;
}

.toolbar-button:hover {
    color: white;
    background-color: #a1a1a1;
}

.toolbar-bar__spacer {
    float: left;
    height: 36px;
    padding: 0 4px;
    margin-bottom: 20px;
}


.toolbar-button,
.toolbar-button__title {
    display: inline-block;
    color: #b9b9b9;
    background-color: transparent;
}

.toolbar-button,
.toolbar-spacer {
    height: 36px;
    padding: 0 4px;
    margin-bottom: 20px;
}

.leftPanel {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    background-color: white;
    resize: horizontal;
}

.rightPanel {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    resize: horizontal;
    background-color: #f3f3f3;
}

.visualize-viewer {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 0;
}

.resize-box {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 0;
    min-height: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.resize-box2 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
}

.divider-y {
    width: 1px;
    height: 100%;
    cursor: col-resize;
    position: relative;
    z-index: 97;
    background-color: #f3f3f3;
}

.divider-x {
    height: 0.5%;
    width: 100%;
    cursor: row-resize;
    position: relative;
    z-index: 97;
    background-color: #393939;
}

.cfg {
    flex: 1 1 auto;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
    background-color: inherit;
    width: auto;
    height: auto;
    border: none;
    resize: none;
    padding: 15px;
}

#cfg-input {
    font-size: 25;
    font-weight: bold;
    font-family: Lato,
        Helvetica Neue,
        Helvetica,
        sans-serif;
    padding: 15px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 0px;
    resize: none;
}

.cfg:focus {
    box-shadow: none;
}

.leftPanel.cfg-sim.cfg {
    margin-bottom: 10px;
    margin-right: 10px;
}

.rightPanel .cfg-sim textarea {
    margin-bottom: 10px;
    margin-left: 10px;
}

#inputstring {
    width: 50%;
    background-color: #393939;
}

/*.resize-box2 textarea {
    border-bottom: #bbb solid 1px;
}*/