* {
    box-sizing: border-box;
}

.main-content {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-width: 0;
    min-height: 0;
    color: #bbb;
    background-color: #040405;
}

.leftPanel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    background-color: #283745;
    resize: horizontal;
}

.rightPanel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    resize: horizontal;
}

.visualize-viewer {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 0;
}

.resize-box {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 0;
    min-height: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.resize-box2 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
}

.divider-y {
    width: 0.5%;
    height: 100%;
    cursor: col-resize;
    position: relative;
    z-index: 97;
    background-color: #393939;
}

.divider-x {
    height: 0.5%;
    width: 100%;
    cursor: row-resize;
    position: relative;
    z-index: 97;
    background-color: #393939;
}

.cfg {
    flex: 1 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
    background-color: inherit;
    width: auto;
    height: auto;
    border: none;
    resize: none;
    color: #bbb;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 0px;
    resize: none;
}

.cfg:focus {
    box-shadow: none;
}

.leftPanel.cfg-sim.cfg {
    margin-bottom: 10px;
    margin-right: 10px;
}

.rightPanel .cfg-sim textarea {
    margin-bottom: 10px;
    margin-left: 10px;
}

/*.resize-box2 textarea {
    border-bottom: #bbb solid 1px;
}*/