.main-content {
	width: initial;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: #283745;
	color: white;
	padding: 1.25%;
	align-items: center;
}

.control-bar {
	position: relative;
	width: 100%;
	height: 44px;
	flex: none;
	overflow: hidden;
	background-color: #2c2c2c;
}

.toolbar {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 4px;
	overflow: hidden;
}

.toolbar-inner--left {
	display: block;
	margin-left: 15px;
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
}

.toolbar-inner--right {
	float: right;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.toolbar__spinner {
	width: 24px;
	margin-top: auto;
	margin-bottom: auto;
}

.toolbar__title {
	display: inline-block;
	font-size: 20px;
	font-family: Helvetica;
	color: #b9b9b9;
	background-color: transparent;
	width: auto;
	white-space: pre-wrap;
	align-items: center;
	margin-top: 5px;
}

.toolbar-button {
	float: left;
	color: #b9b9b9;
	width: 34px;
	padding: 0 7px;
	transition: opacity .25s;
	border-radius: 5px;
	border: none;
	outline: none;
}

.toolbar-button:hover {
	color: white;
	background-color: #a1a1a1;
}

.toolbar-spacer {
	float: left;
	height: 36px;
	padding: 0 4px;
	margin-bottom: 20px;
}


.toolbar-button,
.toolbar-button__title {
	display: inline-block;
	color: #b9b9b9;
	background-color: transparent;
}

.toolbar-button,
.toolbar-spacer {
	height: 36px;
	padding: 0 4px;
	margin-bottom: 20px;
}

.column {
	margin-top: 10px;
	min-height: 200px;
}

h3 {
	text-rendering: auto;
}

input,
textarea {
	font-family: monospace;
	resize: none;
}

.state-table {
	border: none;
	border-radius: 5px;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	color: white;
}

.state-table td,
th {
	border: none;
	text-align: left;
	color: white;
	height: 100%;
}

.state-table input {
	margin: 10px;
}

.state-table textarea {
	margin: 10px;
}

#generateRegex {
	background-color: #455767;
	color: white;
	border-radius: 5px;
	border: none;
	padding: 8px;
}

#generateDFA {
	background-color: #455767;
	color: white;
	border-radius: 5px;
	border: none;
	padding: 8px;
	margin-right: 5px;
}

#generateNFA {
	background-color: #455767;
	color: white;
	border-radius: 5px;
	border: none;
	padding: 8px;
	margin-right: 5px;
}

#generateENFA {
	background-color: #455767;
	color: white;
	border-radius: 5px;
	border: none;
	padding: 8px;
}

#generateRegex {
	margin-top: 10px;
}

#regex-input {
	background-color: #455767;
	color: white;
	border: none;
}

#automatonType {
	background-color: #455767;
	color: white;
	border: none;
}

.currentState {
	fill: lightpink;
	background-color: lightpink;
	stroke-width: 2;
}

.nextState {
	fill: lightgreen;
}

.previousState {
	fill: lightblue;
}

.activeTransition {
	stroke: blue;
	stroke-width: 2;
}

.inactiveState {
	fill: white;
}

.nextSymbol {
	background-color: lightgreen;
	font-weight: bold;
}

#states {
	max-width: 60%;
	border: none;
	background-color: #455767;
	color: white;
}

#alphabet {
	max-width: 60%;
	border: none;
	background-color: #455767;
	color: white;
}

#start {
	max-width: 60%;
	border: none;
	background-color: #455767;
	color: white;
}

#accept {
	max-width: 60%;
	border: none;
	background-color: #455767;
	color: white;
}

#transition {
	height: 150px;
	max-width: 80%;
	border: none;
	background-color: #455767;
	color: white;
}

.sim-graph {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: auto;
	margin-top: 2%;
	align-items: center;
	justify-self: center;
	background-color: #f3f3f3;
}

#inputStringType {
	float: left;
	width: 12%;
	font-weight: bold;
	border: none;
	outline: none;
	color: #b9b9b9;
	background-color: #2c2c2c;
}

#inputStringType:hover {
	color: #2c2c2c;
	background-color: #b9b9b9;
}

#inputString {
	float: left;
	border: none;
	outline: none;
	margin-left: 5px;
	color: #f3f3f3;
	background-color: #455767;
	margin-top: 3px;
}

.btn {
	margin-top: 3px;
}

.graph {
	min-height: 300px;
	background-color: #f3f3f3;
}

.simulator input {
	max-width: 50%;
	border: none;
	color: white;
	background-color: #455767;
}

textarea:focus {
	outline: none;
	border: none;
}

input:focus {
	outline: none;
	border: none;
}

button:focus {
	outline: none;
}