@font-face {
  font-family: Vine;
  src: url("../fonts/vine1.otf") format("opentype");
}

@font-face {
  font-family: Leaves;
  src: url("../fonts/vine2.ttf") format("truetype");
}

.main-content {
  width: initial;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: #040405;
}

canvas {
  position: relative;
  background-color: #040405;
  width: 80%;
  height: 80%;
}

.truth-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.intro {
  font-size: 2.5rem;
  line-height: 57px;
  font-family: Vine;
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 0px;
  margin: 30px 0 5px 0;
}

.intro-content {
  font-family: Vine;
  font-size: 1.125rem;
  line-height: 1.3;
  color: white;
  margin: 15px 0;
}

.subtitle {
  font-family: Vine;
  font-size: 1.8rem;
  line-height: 1.3;
  color: white;
  margin: 15px 0;
}

textarea:focus {
  outline: none;
}

button:focus {
  outline: none;
}