@font-face {
  font-family: Vine;
  src: url("../fonts/vine1.otf") format("opentype");
}


body * {
  box-sizing: content-box;
  box-sizing: initial;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #040405;
  width: initial;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  flex-grow: 1;
  height: 100%;
}

.header {
  position: relative;
  box-shadow: rgb(36, 36, 36) 0px 1px 0px;
  height: 48px;
  width: 100%;
  background: rgb(4, 4, 4);
}

.header .title-nav {
  width: 1080px;
  max-width: 90%;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: left;
  font-size: 0.8125rem;
  margin: auto;
}

.title-banner {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.title-bage {
  background-color: transparent;
  font-family: 'Vine';
  font-weight: bold;
  line-height: 1.1;
  font-size: 1rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 4rem;
  color: #b9b9b9;
  text-decoration: none;
}

.title-bage:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.head-icon {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
}

.nav-items {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.nav-items li {
  margin: 0px;
}

.nav-items li:not(:last-child) {
  margin-right: 3rem;
}

@media screen and (max-width: 900px) {
  .nav-items li:not(:last-child) {
    margin-right: 1rem;
  }
}

.nav-items button {
  cursor: pointer;
  color: rgb(153, 153, 153);
  background: transparent;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  text-decoration: none;
  transition: all 200ms ease 0s;
  outline: none;
  padding: 0px;
}

.nav-items svg {
  margin-left: 0.25rem;
  margin-right: 0.5rem;
  top: -1px;
  position: relative;
}